<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My First Spring Boot</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
    <p th:text="'This date example ' + ${#dates.format(datetime, 'yyyy-MM-dd HH:mm')}">
        Controller에서 해당 Mapper가 호출된 시점
    </p>
    <div>
        <span th:text="${myname}">내 이름</span>'s First Project
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>