<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <title>Sign In</title>

</head>
<body>

<div class="container">

    <div class="page-header">
        <h1><p th:text="${userVO.email}">고객 이메일주소</p>님 환영합니다.</h1>
    </div>

    <div class="page-header">
        <p th:text="${result}">Google login 결과</p>
    </div>

</div>


<script src="/js/jquery-1.12.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>