<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Sign Up</title>
</head>
<body>
<div>
    <div>
        <h1>회원가입</h1>
    </div>
    <h3>회원정보입력</h3>
    <form id="signUpForm" th:object="${userVO}">
        <table>
            <tr>
                <th>이메일</th>
                <td>
                    <input type="text" name="email" maxlength="30"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" name="password" maxlength="20" /></td>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" name="name" maxlength="20" /></td>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </tr>
        </table>
        <input type="button" value="Sign Up" onclick="signUp();" />
    </form>
    </div>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var signUp = function() {
            $('#signUpForm')
                .attr('action', '/sign/sign-up')
                .attr('method', 'post')
                .submit();
        };
    </script>
</body>
</html>